<VirtualHost *:80>
  ServerName <%= @params[:server_name] %>
  ServerAlias <% @params[:server_aliases].each do |a| %><%= "#{a}" %> <% end %>
  DocumentRoot <%= @params[:docroot] %>
  DirectoryIndex index.shtml index.html index.htm index.php
  
  <Directory <%= @params[:docroot] %>>
    Options -Indexes +Includes +ExecCGI +FollowSymLinks
    AllowOverride All
    Order allow,deny
    Allow from all
    AddType text/html .shtml
    AddHandler server-parsed .html .shtml
    AddHandler cgi-script .cgi .rb
    AddOutputFilter INCLUDES .html .shtml

    RewriteEngine On
    # Spockets
    RewriteRule ^ecom\/js\/ecom\.js /ecom/js/nph-sprockets.cgi [P,L]

    # Sass
    #RewriteRule ^ecom\/css\/ecom\.css /ecom/css/nph-sass.cgi [P,L]
    RewriteRule ^ecom\/css\/(.*).css /ecom/css/nph-sass.cgi?sass_file=$1 [P,L]

    # Empty index redirect
    RewriteRule ^$ /ecom/index.php
  </Directory>

  <Directory <%= @params[:docroot] %>/global/styleguide>
      RewriteEngine On
      RewriteCond %{REQUEST_FILENAME}.html -f
      RewriteRule !.*\.html$ %{REQUEST_FILENAME}.html [L]
  </Directory>
  
  ErrorLog <%= node[:apache][:log_dir] %>/<%= @params[:name] %>-error.log
  CustomLog <%= node[:apache][:log_dir] %>/<%= @params[:name] %>-access.log combined

</VirtualHost>
